body {
  background-color: #dddddd;
  display: flex;
  justify-content: center;
}

.container {
  max-width: 1440px;
  padding: 50px 50px 10px 50px;
  margin-top: 0px;
}

.logo {
  max-width:150px;
  height:auto;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 50px;
}

.work_in_progress {
  max-width:800px;
  height:auto;
}

h1 {
  text-align: center;
}
