body {
  height: 100%;
  /* background-color: #dddddd; */
  background-color: #fff;
  font-family: 'Encode Sans Expanded', sans-serif;
}
html {
	scroll-behavior: smooth;
}
@media screen and (prefers-reduced-motion: reduce) {
	html {
		scroll-behavior: auto;
	}
}

.container {
  display: flex;
  flex-direction: row;
  width: 100%;
  /* padding: 50px 50px 10px 50px; */
  padding-top: 50px;
  padding-bottom: 50px;
  margin-top: 0px;
}

.content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-self: center;
  padding-top: 60px;
  width: 80%;
}

@media screen and (min-width: 600px) {
  .content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-self: center;
    width: 70%;
  }
}





header {
  width: 100%;
}


section {
  padding-top: 60px;
  text-align: center;
}
section h2 {
  color: #d3222c;
}


/* experience section */
.experience {
    /* max-height: 600px; */
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
}
@media screen and (max-width: 900px) {
  .experience {
      /* height: 400px; */
      display: flex;
      align-items: center;
      flex-direction: column;
  }
}

#experience .experience div {
    width: 25%;
    padding: 55px 30px;
    min-height: 400px;
    max-height: 600px;
    text-align: center;
    margin-bottom: 30px;
}
@media screen and (max-width: 900px) {
  #experience .experience div {
      width: 80%;
      padding: 55px 30px;
      min-height: 400px;
      max-height: 600px;
      text-align: center;
  }
}

#experience .experience div:first-child {
    background-color: #fffcdd;
    color: #5a5a5a;
}
#experience .experience div:first-child h3 {
text-align: center;
}

#experience .experience div:nth-child(2) {
    background-color: black;
    color: #dddddd;
}
#experience .experience div:nth-child(3) {
    background-color: black;
    color: #dddddd;
}
#experience .experience div:last-child {
    background-color: #3b455c;
    color: #fbdbcd;
}

#experience .experience div img {
    max-width: 90%;
    height: auto;
}

/* experience section */

/* skills */
#skills .skills {
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    margin: auto;
    /* width: 700px; */
    align-items: center;
    justify-content: center;
}

#skills .skills i {
    font-size: 80px;
    margin: 12px 30px;
}
/* skills */

/* projects */
.projects {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}
@media screen and (max-width: 600px) {
  .projects {
      display: flex;
      align-items: center;
      flex-direction: column;
  }
}


#projects .projects div {
    width: 50%;
    min-height: 400px;
    max-height: 600px;
    text-align: center;
    margin-bottom: 30px;
}
@media screen and (max-width: 600px) {
  #projects .projects div {
      width: 80%;
      /* padding: 55px 30px; */
      min-height: 400px;
      max-height: 600px;
      text-align: center;
  }
}
#projects .projects div img {
    width: 80%;
    height: auto;
}
@media screen and (max-width: 600px) {
  #projects .projects div img {
      width: 100%;
      height: auto;
  }
}


.projects div p {
    margin: 10px;
}
/* projects */


/* contact me */

#contact {
  text-align: center;
}
#contact div {
  text-align: center;
}

.aboutMeImage {
    height: 250px;
    width: 250px;
    top: 10%;
    right: 20%;
    display: block;
    position: absolute;
    border-radius: 100%;
    background-size: cover;
    background-position: top;
    background-repeat: no-repeat;
    background-image: url("./img/daniele-nocito.jpg");
    display: inline-block;
    -webkit-box-shadow: 0px 3px 8px 0px rgba(0, 0, 0, 0.09);
    -moz-box-shadow: 0px 3px 8px 0px rgba(0, 0, 0, 0.09);
    box-shadow: 0px 3px 8px 0px rgba(0, 0, 0, 0.09);
}

/* contact me */




#logo {
  width: 40%;
  height:auto;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 50px;
  margin-top: 50px;
}

@media only screen and (min-width: 600px) {
  #logo {
    width: 20%;
  }
}

/* img {
  max-width:50%;
  height:auto;
} */

h2 {
  text-align: center;
}


.topnavContainer {
  display: flex;
  justify-content: center;
  position: fixed;  /* Set the navbar to fixed position */
  top: 0;  /* Position the navbar at the top of the page */
  left: 0;
  min-height: 50px;
   width: 100%;  /* Full width */
   background-color: #333;
}

@media screen and (max-width: 600px) {
  .topnavContainer {
    display: flex;
    justify-content: flex-start;
     background-color: rgba(0, 0, 0, 0);
  }
}



/* navigation bar */
.topnav {
  position: fixed;  /* Set the navbar to fixed position */
  top: 0;  /* Position the navbar at the top of the page */
  overflow: hidden;
  background-color: #333;
}

.topnav a {
  margin: auto;
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.topnav a:hover {
  background-color: #ddd;
  color: black;
}

.topnav a.active {
  background-color: #4CAF50;
  color: white;
}

.topnav .icon {
  display: none;
}

@media screen and (max-width: 600px) {
  .topnav a {display: none;}
  .topnav a.icon {
    float: left;
    display: block;
  }
}

@media screen and (max-width: 600px) {
  .topnav.responsive {position: relative; padding-left: 25px;}
  .topnav.responsive .icon {
    position: absolute;
    left: 0px;
    top: 0;
  }
  .topnav.responsive a {
    float: right;
    display: inline;
    text-align: right;
    font-size: 12px;
  }
}
/* navigation bar */















/* Left arrows navigator */

.sideContent {
  padding-right: 20px;
  display: flex;
  justify-content: flex-end;
  width: 10%;
}

@media screen and (min-width: 600px) {
  .sideContent {
    padding-right: 30px;
    display: flex;
    justify-content: flex-end;
    width: 15%;
  }
}



#arrow_nav {
    height: 114px;
    width: 34px;
    /* margin: -78px 0 0 200px; */
    position: fixed;
    z-index: 9999;
    top: 50%;
}

.next_entry {
    transform: rotate(180deg);
}

#arrow_nav svg {
    fill: rgba(0, 0, 0, 0.2);
}

#arrow_nav svg {
-webkit-transition-duration: 0.4s;    /* Safari */
  transition-duration: 0.4s;
}

#arrow_nav svg:hover {
    fill: rgba(0, 0, 0, 1);
}

/* Left arrows navigator */



/* intro */

/* .test {
text-align: center;
color: green;
position: absolute;
left: 0px;
top: 0px;
bottom: 0px;
right: 0px;
width: 100%;
height: 100%;
display: flex;
padding: 5%;
justify-content: center;
align-items: center;
background-image: url('/img/frog_fly.gif');
background-size: contain;
background-repeat: no-repeat;
background-position: center;
z-index: 33;
}
#dazzle {
font-size: 50px;
color: #6c4dd3;
position: absolute;
bottom: 80px;
font-family: 'Barriecito', cursive;
-webkit-animation-name: test;
-webkit-animation-duration: 1s;
animation-iteration-count:infinite;
}
@-webkit-keyframes test {
from {font-size: 30px;}
to {font-size: 50px;
} */
/* intro */
